<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isMachineAdded">
      <div class="form-group">
        <label for="type">Type</label>
        <br>
        <input type="text" class="form-control" id="type" required [(ngModel)]="machine.type" name="type"/>
      </div>
      <br>
      <button (click)="addMachine()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="isMachineAdded">
      <h3>New machine added!</h3>
      <button class="btn btn-success" (click)="newMachine()"> + Add More</button>
    </div>
  </div>
</div>
