<div class="leftmenudiv">

  &nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;
  <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <div *ngIf="auth.user$ | async as user">
      Welcome {{ user.name }}
    </div>
    &nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/reports']">
      <h3>Reports</h3>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/machines']">
      <h3>Machines</h3>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/errors']">
      <h3>Errors</h3>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a [routerLink]="['/error-definitions']">
      <h3>Error Definitions</h3>
    </a>
    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-secondary" (click)="auth.logout({ returnTo: document.location.origin })">
      Log out
    </button>
  </ng-container>

  <ng-template #loggedOut>
    &nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-success" (click)="auth.loginWithRedirect()">Log in</button>
  </ng-template>

</div>

