<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="Search by Error code" [(ngModel)]="searchErrorCode"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchByErrorCode()">
          Search By Error Code
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <a routerLink="/createErrorDefinition">
      <button class="btn btn-success pull-right"> Add Error Definition</button>
    </a>
    <hr>
    <h4>Error-Definition List</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Error Code</th>
        <th scope="col">Error Detail</th>
        <th scope="col" style="min-width: 150px;">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let errorDefinition of errorDefinitions; let i = index;">
        <th scope="row">{{i + 1}}</th>
        <th scope="row">{{errorDefinition.errorCode}}</th>
        <td><b>{{errorDefinition.errorDetail}}</b></td>
        <td>
          <button type="button" class="btn btn-warning btn-sm">Delete</button>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-info btn-sm">Update</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

